span.uael-accordion-icon-left{
	float:left;
}

span.uael-accordion-icon-right{
	float:right;
}

.uael-accordion-icon-opened{
	display: none;
}

.uael-faq-container:last-child.elementor-grid-item{
	border-bottom: none;
}